
<div class="container"><img style="opacity: 0.5;" src="../../assets/pizza.jpg">


<button routerLink="/addrestaurant" style="top: 20%;left: 30%;font-size: 30px;" type="button" class="btn btn-lg btn-danger">ADD RESTAURANT</button>
<button routerLink="/managerestaurants" style="top: 20%;left: 70%;font-size: 30px;" type="button" class="btn btn-lg btn-danger">MANAGE RESTAURANT</button>
<button routerLink="/orders" style="top: 60%;left: 70%;font-size: 30px;" type="button" class="btn btn-lg btn-danger">CHECK ORDERS</button>
<button routerLink="/managecustomers" style="top: 60%;left: 30%;font-size: 30px;" type="button" class="btn btn-lg btn-danger">CHECK CUSTOMERS</button>



</div>

