<div class="table-responsive" style="text-align: center;margin-left: 400px;margin-top: 0px;margin-right: 300px;">
        <form #paymentForm="ngForm" (ngSubmit)="pay(paymentForm)" class="form-inline" role="form">
        <table class="table table-hover">
            <thead>
                        <tr><td colspan="2" style="text-align: center;"><img style="width: 150px;height: 150px;" src="../../assets/food (1).jpg"></td></tr>
                <tr><td colspan="2"><h1 style="text-align:start;font-size: 30px;text-align: center;">Choose Payment Mode</h1></td></tr>
            </thead>
            <tbody>
                <table class="table table-hover" style="margin-left:150px;width: 300px;">
                    <tr>
                        <td align="right">
                        <input class="form-control" ngModel name="pay" value="1" type="radio" id="Cash" ></td>
                        <td align="left" style="padding-left:20px ;">Cash On Delivery</td>
                    </tr>
                    <tr> 
                        <td align="right">
                        <input class="form-control" ngModel name="pay" value="2" type="radio" id="Card" ></td>
                        <td align="left" style="padding-left:20px ;">Card Payment</td>
                    </tr>
                        <tr>
                        <td align="right">
                        <input class="form-control" ngModel name="pay" value="3" type="radio" id="NetBanking" ></td>
                        <td align="left" style="padding-left:20px ;">Net Banking</td>
                    </tr>
                    <tr >
                        <td colspan="2" style="text-align: center;">
                            <button style="font-size: 15px;" type="submit" class="btn btn-primary">Pay</button>
                        </td>
                    </tr>
                </table>
                
            </tbody>
        </table>
        </form>
        
    </div>

